html
  head
    link(href="/bootstrap.min.css", rel="stylesheet")
    link(href="/admin.css", rel="stylesheet")
  body
    #header
    nav(class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow")
      a(class="navbar-brand col-sm-3 col-md-2 mr-0", href="#") Produits sains
    
    div(class="container-fluid")
      div(class="row")
        #left menu
        nav(class="col-md-2 d-none d-md-block bg-light sidebar")
          div(class="sidebar-sticky")
            ul(class="nav flex-column")
              each elm in menu
                li(class="nav-item")
                  a(class="nav-link " + (elm.name == title ? "active" : ""), href="/admin" + elm.link)
                    span
                      = elm.name
                    if elm.name == title
                      span(class="sr-only") (current)
              

        main(role="main", class="col-md-9 ml-sm-auto col-lg-10 px-4")
          div(class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom")
            h1(class="h2")= title
          
          each part in data
            if part.type == 'table'
              include table
            if part.type == 'actions'
              include actions