html
  head
  body
    h1 Index
      h2 User
      p=user
      h2 Link
    ul
      li
        a(href="/admin") admin
      li
        a(href="/login") login
      li
        a(href="/seed") seeed
      li
        a(href="/users") users